
<!DOCTYPE html>
<html lang="se">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JPF Cooking Studio</title>
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/color.css">
    <link rel="stylesheet" href="../css/resoinsive-minipc.css" media="screen and (max-width: 1341px)">
    <link rel="stylesheet" href="../css/responsive-phone.css" media="screen and (max-width: 768px)">

</head>
<body>

    <div class="main-content">
        <section>
            <div id="about-h1-content">
                <div class="h1-textzone">
                    <h1>OM OSS</h1>
                </div><!-- /.h1h1-textzone -->
            </div><!-- /#about-h1-content -->

        </section>

        <section>
            <p>
                JPF matlagningsstudio är en matlagningskurs som specialiserar sig på japansk mat. <br> Du kan lära dig att laga mat med bra recept, bra instruktörer och bra studenter! <br> <br>
                JPF startade 1997. Nu är vi en stor studio och vi ökar ständigt med fler studior.
            </p>
            <div id="studios">
                <h2 id="h2-studio">Studior</h2>
                <div class="adress-parent">
                    <adress class="adress-child">
                        <div id="studio-stockholm">
                            <div class="studio-filter">
                                <span class="studio-name">JPF STOCKHOLM</span>
                                <span>Norra vägen, 11111 Stockholm</span>
                            </div><!-- /.studio-filter -->
                        </div><!-- /#studio-stockholm -->
                    </adress>

                    <adress class="adress-child">
                        <div id="studio-goteborg">
                            <div class="studio-filter">
                                <span class="studio-name">JPF Göteborg</span>
                                <span>Norra vägen, 22222 Göteborg</span>
                            </div><!-- /.studio-filter -->
                        </div><!-- /#studio-goteborg -->
                    </adress>

                    <adress class="adress-child">
                        <div id="studio-skovde">
                            <div class="studio-filter">
                                <span class="studio-name">JPF Skövde</span>
                                <span>Norra vägen, 33333 Skövde</span>
                            </div><!-- /.studio-filter -->
                        </div><!-- /#studio-skovde -->
                    </adress>

                </div><!-- /.adress-parent -->
            </div><!-- /#studios -->
        </section>
    </div><!-- /.main-content -->

</body>
</html>